<!-- views/partials/navbar.ejs -->
<nav class="navbar">
    <a href="/">Início</a>
    <a href="/artigos">Artigos</a>
    <a href="/projetos">Projetos</a>
    <a href="/certificacoes">Certificações</a>
</nav>
